@page "/"
@using System.Runtime.InteropServices
@using Miniproject1.Components
@inject NavigationManager NavManager
@inject Miniproject1.Service.ILoginService LoginService

<h1>Explore all our Posts!</h1>

<OrderDisplay />



