@page "/login/{target:alpha?}"
@inject HttpClient Http
@using Miniproject1.Service
@inject ILoginService loginService 
@inject NavigationManager NavManager

<h3>Login</h3>

@if (!string.IsNullOrEmpty(target)) 
{
    <!-- Placerer beskeden mellem "Login" og "Username" -->
    <p style="color: gray; text-align: center;">
        @("Log in to " + (target == "CreatePost" ? "create a post" : target == "MyPage" ? "view your page" : "access this page"))
    </p>
}

<div class="row justify-content-center">
    <div class="col-md-6 mb-3">
        <label for="username">Username</label>
        <InputText id="username" @bind-Value="username" placeholder="Write Username" class="form-control" />
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-6 mb-3">
        <label for="password">Password</label>
        <InputText id="password" @bind-Value="password" placeholder="Write Password" class="form-control" />
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-6 mb-3">
        <button @onclick="OnClickLogin" class="btn btn-primary">Login</button>
    </div>
</div>
<span style="color: red;">@errortext</span>

@code {
    string username = "";
    string password = "";
    string errortext = "";

    [Parameter]
    public string? target { get; set; }

    private async Task OnClickLogin()
    {
        var success = await loginService.Login(username, password);
        if (success)
        {
            if (!string.IsNullOrEmpty(target))
            {
                NavManager.NavigateTo("/" + target);
            }
            else
            {
                NavManager.NavigateTo("/");
            }
        }
        else
        {
            errortext = "TRY AGAIN....";
        }
    }
}