@page "/MyPage"
@using Core;
@using Miniproject1.Service
@inject HttpClient Http;
@inject NavigationManager navigationManager
@inject ILoginService LoginService 
@inject NavigationManager navManager
@using Blazored.LocalStorage
@inject ILocalStorageService localStorage
@using Miniproject1.Components
<h3>MyPage</h3>

@if (isLoggedIn)
{
    <OrderDisplay></OrderDisplay>
}
else
{
    <p>You must be logged in to view your posts.</p>
}

@code {
    private bool isLoggedIn = false;
    
    public int? UserId;
    
    public async Task GetUserId()
    {
        var user = await localStorage.GetItemAsync<User>("user");
        if (user != null)
        {
            UserId = user.UserId;
            isLoggedIn = true;
            Console.WriteLine($"User found: UserId = {UserId}");
        }
        else
        {
            UserId = null;
            isLoggedIn = false;
            Console.WriteLine("User not found in localStorage");
        }
    }
    
    protected override async Task OnInitializedAsync()
    {
        var user = await LoginService.GetUserLoggedIn();
        if (user == null)
        {
            navManager.NavigateTo("login/MyPage");
        }

        await GetUserId();
    }
    
    
}